* {
    box-sizing: border-box;
    font-family: Chalkduster; 
    
}

html, body {
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table {
    margin: 0 auto;
    height: 100px;
    width: 200px;
    border-radius: 100%;
    border-color: black;
    
}
td div {
    margin: 0 auto;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    padding: 20px 10px 0 10px;
}
#btn {
    border: black;
    border-width: 400px;
    border-radius: 50%;
}
