* {
    box-sizing: border-box;
    font-family: Chalkduster; 
    background-color: black;
}
html, body {
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    color: white;
}
table {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border-color: black;
    justify-content: space-evenly;
}
td {
    margin: 0 auto; 
    height: 150px;
    background-color: white;
    text-align: center;
    padding: 20px 10px 20px 10px;
}
td div{
    color: white; 
}
button {
    margin: 20px 0 10px 0;
    border: 10px solid yellow;
    border-radius: 50%;
    color: yellow;
}

